[Unit]
Description=Demo Manager Daemon
Documentation=man:demo-manager(1)
After=sysinit.target local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/demo-manager
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
